body{
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;  
}
#slideshow{
    width: 40%;
}

#trip{
    margin-top: 5vh;
    display: flex;
    border-radius: 20px;
    width: 60%;
    height: 80vh;
    justify-content: space-around;
    align-items: center;
    background-image: url("efate.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

#link {
    color: black;
}


#mtYasur {
    width: 100%;
    border-radius: 10px;
}

#trip-info{
    display: flex;
    flex-direction: column;
    height: 70%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;    
} 

#submit-button {
    background-color: rgb(66, 104, 124);
    color: white;
}

