body{
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;  
}
#slideshow{
    width: 40%;
}

#trip{
    margin-top: 5vh;
    display: flex;
    border-radius: 20px;
    width: 60%;
    height: 80vh;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}



#mtYasur {
    width: 100%;
    border-radius: 10px;
}

#trip-info{
    display: flex;
    flex-direction: column;
    height: 70%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #42687c
    
} 

#submit-button {
    background-color: rgba(66, 104, 124, .5);
}

